In [1]:
from pysus.online_data import parquets_to_dataframe
from pysus.online_data import SINAN
import pandas as pd

## SINAN doenças existentes e anos disponiveis

In [6]:
SINAN.list_diseases()

['Animais Peçonhentos',
 'Botulismo',
 'Cancer',
 'Chagas',
 'Chikungunya',
 'Colera',
 'Coqueluche',
 'Contact Communicable Disease',
 'Acidentes de Trabalho',
 'Dengue',
 'Difteria',
 'Esquistossomose',
 'Febre Amarela',
 'Febre Maculosa',
 'Febre Tifoide',
 'Hanseniase',
 'Hantavirose',
 'Hepatites Virais',
 'Intoxicação Exógena',
 'Leishmaniose Visceral',
 'Leptospirose',
 'Leishmaniose Tegumentar',
 'Malaria',
 'Meningite',
 'Peste',
 'Poliomielite',
 'Raiva Humana',
 'Sífilis Adquirida',
 'Sífilis Congênita',
 'Sífilis em Gestante',
 'Tétano Acidental',
 'Tétano Neonatal',
 'Tuberculose',
 'Violência Domestica',
 'Zika']

In [7]:
SINAN.get_available_years('Animais Peçonhentos')

['2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022']

## Descobre qual região do Brasil tem mais registros de picadas por animais peçonhentos.

In [2]:
ap07, ap08, ap09, ap10, ap11 = SINAN.download('Animais Peçonhentos', [2007, 2008, 2009, 2010, 2011])

In [3]:
df1 = parquets_to_dataframe(ap07)

In [4]:
df2 = parquets_to_dataframe(ap08)

In [5]:
df3 = parquets_to_dataframe(ap09)

In [6]:
df4 = parquets_to_dataframe(ap10)

In [7]:
df5 = parquets_to_dataframe(ap11)

In [8]:
frames = [df1, df2, df3, df4, df5]
df = pd.concat(frames)

In [9]:
df

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,...,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
0,2,X29,2007-03-15,200711,2007,43,430995,1611,2007-03-15,200711,...,2,,,,,2,1,,20070316,20070410
1,2,X29,2007-03-01,200709,2007,43,430995,1611,2007-02-25,200709,...,2,,,,,2,1,,20070302,20070327
2,2,X29,2007-03-16,200711,2007,52,521830,1784,2007-03-16,200711,...,,,,,,,1,,20070317,20070706
3,2,X29,2007-03-21,200712,2007,42,421710,1555,2007-03-21,200712,...,2,,,,,1,1,,20070504,20070327
4,2,X29,2007-03-14,200711,2007,26,260920,1498,2007-03-14,200711,...,,,,,,,,,,20070409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137933,2,X29,2011-05-21,201120,2011,31,317010,1461,2011-05-21,201120,...,2,,,,,2,1,,20110525,
137934,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,201121,...,2,,,,,9,1,,20110803,20110408
137935,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,201121,...,2,,,,,9,1,,20110803,20110408
137936,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,201121,...,2,,,,,2,1,,20110806,20110808
137937,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,201121,...,2,,,,,2,1,,20110806,20110808

In [17]:

#objetivo: criar uma coluna com o numero de picadas para usar com o id_regiao
df = df.rename_axis('index_').reset_index()
df

,index,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,...,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
0,0,2,X29,2007-03-15,200711,2007,43,430995,1611,2007-03-15,...,2,,,,,2,1,,20070316,20070410
1,1,2,X29,2007-03-01,200709,2007,43,430995,1611,2007-02-25,...,2,,,,,2,1,,20070302,20070327
2,2,2,X29,2007-03-16,200711,2007,52,521830,1784,2007-03-16,...,,,,,,,1,,20070317,20070706
3,3,2,X29,2007-03-21,200712,2007,42,421710,1555,2007-03-21,...,2,,,,,1,1,,20070504,20070327
4,4,2,X29,2007-03-14,200711,2007,26,260920,1498,2007-03-14,...,,,,,,,,,,20070409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596361,596361,2,X29,2011-05-21,201120,2011,31,317010,1461,2011-05-21,...,2,,,,,2,1,,20110525,
596362,596362,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,...,2,,,,,9,1,,20110803,20110408
596363,596363,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,...,2,,,,,9,1,,20110803,20110408
596364,596364,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,...,2,,,,,2,1,,20110806,20110808
596365,596365,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,...,2,,,,,2,1,,20110806,20110808

In [18]:
df

,index,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,...,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
0,0,2,X29,2007-03-15,200711,2007,43,430995,1611,2007-03-15,...,2,,,,,2,1,,20070316,20070410
1,1,2,X29,2007-03-01,200709,2007,43,430995,1611,2007-02-25,...,2,,,,,2,1,,20070302,20070327
2,2,2,X29,2007-03-16,200711,2007,52,521830,1784,2007-03-16,...,,,,,,,1,,20070317,20070706
3,3,2,X29,2007-03-21,200712,2007,42,421710,1555,2007-03-21,...,2,,,,,1,1,,20070504,20070327
4,4,2,X29,2007-03-14,200711,2007,26,260920,1498,2007-03-14,...,,,,,,,,,,20070409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596361,596361,2,X29,2011-05-21,201120,2011,31,317010,1461,2011-05-21,...,2,,,,,2,1,,20110525,
596362,596362,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,...,2,,,,,9,1,,20110803,20110408
596363,596363,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,...,2,,,,,9,1,,20110803,20110408
596364,596364,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,...,2,,,,,2,1,,20110806,20110808
596365,596365,2,X29,2011-05-22,201121,2011,24,240810,1416,2011-05-22,...,2,,,,,2,1,,20110806,20110808

In [20]:
df_clone=df[:]
df_final=df_clone[['ID_REGIONA','index']]
df_final

       ID_REGIONA   index
0        1611           0
1        1611           1
2        1784           2
3        1555           3
4        1498           4
...           ...     ...
596361   1461      596361
596362   1416      596362
596363   1416      596363
596364   1416      596364
596365   1416      596365

[596366 rows x 2 columns]

In [23]:
registros_por_regiao = df.groupby('ID_REGIONA')['index'].count()
registros_por_regiao = registros_por_regiao.sort_values(ascending=False)
registros_por_regiao.head()

ID_REGIONA
            30332
1356        27482
1497        23218
1533        14087
1416        13062
Name: index, dtype: int64